.Home{
    width: 100%;
    position: relative;
    height: 90vh;
    /* height: 100%; */
    background-color: white;
    top: 75px;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow-x:hidden ;
}
.left_main{
    width: 50%;
    height: 100%;
    background-color: transparent;
    overflow-x:hidden ;
}
.leftHeadCont{
    width: 75%;
    height: 100%;
    margin-left: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center ;
    flex-wrap: wrap;
}
.header_wlcm{
    width: 100%;
    /* position:; */
    height: 23%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    
}
.header_wlcm h2{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 200;
    color: #8f5849;
    /* word-wrap: normal; */
}
.header_wlcm h3{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 72px;
    font-weight: 400;
    color: black;
    margin-top: 10%;
    /* word-wrap: normal; */
}
.idInput{
    width: 100%;
    height: 45%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    
}
.inputLabel{
    margin:12px 0;
}
.inputLabel label{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.typeInput input{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    /* display: flex; */
}
.inputPadding{
    padding: 10px;
}
.frgtPwd{
    margin-top: 12px;
}
.frgtPwd a{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #0a66c2;
}
.sbmtContainer{
    width: 64%;
    height: 15%;
    background-color: #0a66c2;
    /* margin: auto; */
    margin-top: 12px;
    position: relative;
    left: 3%;
    border-radius: 25px;
    box-shadow: none;
    border: none;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.sbmtContainer:hover{
    background-color: #00319c;
}
.google_signIn{
    width: 70%;
    height: 25%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.divider{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.divider::before{
    height: 1px;
    width: auto;
    background-color: rgba(0,0,0,0.35);
    content: "";
    flex-grow: 1;
    display: block;
}
.divider p{
    color: rgba(0, 0, 0, 0.9);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.divider::after{
    content: "";
    height: 1px;
    width: auto;
    background-color: rgba(0,0,0,0.35);
    content: "";
    flex-grow: 1;
    display: block;
}

.btnGoogleBtn{
    width: 90%;
    border-radius: 25px;
    background-color: white;
    border: 0.5px solid black;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.newBtnUser{
    width: 100%;
    height: 45%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.newUser{
    width: 90%;
    height: 65%;
    background-color: white;
    /* margin: auto; */
    /* margin-top: 12px; */
    margin: auto;
    position: relative;
    /* left: 2%; */
    border-radius: 25px;
    box-shadow: none;
    border: 1px solid black;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    color: black;
    font-weight: 400;
    /* font-weight: 700; */
    font-size: 16px;
    cursor: pointer;
}
.logOutBtn{
    border: none;
    background-color: white;
    width: 10%;
    margin-top: 5%;
}



.CarouselCont{
    width: 100%;
    position: absolute;
    height: 70vh;
    background: transparent;
    top: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.CarouselCont2{
    width: 100%;
    position: absolute;
    height: 80vh;
    background: transparent;
    top: 180%;
    display: flex;
    justify-content: center;
    align-content: center;
}




.right_main{
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    overflow-x:hidden ;
}
.svgMain{
    margin-top: auto;
    width: 700px;
    height: 560px;
    padding-left: 55px;
}




@media screen and (max-width:1500px) {
    .Home{
        height: 120vh;
    }
    .idInput{
        height: 45%;
        margin-top: 5%;
    }
    .sbmtContainer{
        margin-top: 12px;
        height: 12%;
    }
    .leftHeadCont{
        width: 80%;
    }
    .CarouselCont{
        top: 125%;
    }
    .CarouselCont2{
        top: 214%;
    }
}
@media screen and (max-width:1400px) {
    /* .Home{
        height: 120vh;
    } */
    /* .leftHeadCont{
        width: 84%;
    } */
    /* .idInput{
        height: 45%;
    } */
    /* .sbmtContainer{
        height: 13%;
    }
    .inputLabel{
        margin-top:5%;
    } */
}
@media screen and (max-width:999px) {
    /* .idInput{
        height: 45%;
    } */
    .Home{
        height: 130vh;
    }
    .left_main{
        width: 55%;
    }
    .right_main{
        width: 45%;
    }
    .inputLabel{
        margin-top:7%;
    }
    .leftHeadCont{
        width: 95%;
    }
    .newUser{
        height: 54%;
    }
    .typeInput input{
        width: 320px;
        height: 50px;
        /* display: flex; */
    }
}
@media screen and (max-width:768px) {
    .Home{
        height: 125vh;
    }
    .left_main{
        width: 100%;
    }
    .leftHeadCont{
        /* height: ; */
        width: 100%;
        padding-left:5% ;
    }
    .header_wlcm{
        height: 10%;
    }
    .header_wlcm h2{
        font-size: 32px;
    }
    .inputLabel{
        margin-top:1%;
    }
    .idInput{
        height: 40%;
        margin-top: 1%;
    }
    .typeInput input{
        width: 90%;
        height: 50px;
        /* display: flex; */
    }
    .sbmtContainer{
        left:12%;
        height: 14%;
    }
    .google_signIn{
        width: 90%;
        height: 30%;
    }
    .btnGoogleBtn{
        width: 72%;
        border: none;
        text-align: center;
    }
    .newUser{
        width: 72%;
        height: 42%;
    }
    
    .right_main{
        display: none;
    }
}